#parrot_img {
    padding-top: 9%;
    margin-bottom: 19%;
    margin-left: -51%;
    height: 117px;
    width: 119px;
    transition: transform 1s ease;
}

#disp{
    position: absolute;
    top: 30%;
    left: 11%;
    width: 19em;
    height: 11em;
    border-radius: 12px;
    font-style: italic;
    font-family: fantasy;
}
#check_btn{
    
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    border:1px solid #a34bc9;
    background-color:#672d80;
    color:#fff;
}   
#check_btn:hover{
    background-color:#9046b0;
}

#exit_btn{
    display: none;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 7em;
    position: absolute;
    bottom: 12%;
    right: 45%;
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    border:1px solid #4346e0;
    background-color:#2b2c61;
    color:#fff;
    font-size: 12px;
}   
#exit_btn:hover{
    background-color:#4346e0;
}
#content {
    position: absolute;
    width: 23em;
    height: 31em;
    border :2px solid black;
    background-color: #fff;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#astro_img{
    height: 31em;
    width: 23em;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#cardContainer {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: absolute;
    width: 80px;
    height: 120px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #333;
    text-align: center;
    transition: transform 0.3s ease;
}

#card1 {
    transform: rotate(0deg) translate(0, -120px);
}

#card2 {
    transform: rotate(72deg) translate(0, -120px);
}

#card3 {
    transform: rotate(144deg) translate(0, -120px);
}

#card4 {
    transform: rotate(216deg) translate(0, -120px);
}

#card5 {
    transform: rotate(288deg) translate(0, -120px);
}